# Git configuration

[user]
    email = lkjsxc@gmail.com
    name = lkjsxc

[core]
    editor = nvim
    autocrlf = input

[init]
    defaultBranch = main

[push]
    default = simple

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk
    graph = log --oneline --graph --decorate --all

[merge]
    tool = nvim

[diff]
    tool = nvim